<!DOCTYPE html>
<html lang="en">
<style>

    HTML CSS Result
    Edit on
        /**************************
          DEFAULT BOOTSTRAP STYLES
        **************************/
    .btn {
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: normal;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
        padding: 10px 16px;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .btn-lg {
        font-size: 18px;
        line-height: 1.33;
        border-radius: 6px;
    }

    .btn-primary {
        color: #fff;
        background-color: #428bca;
        border-color: #357ebd;
    }

    .btn-primary:hover,
    .btn-primary:focus,
    .btn-primary:active,
    .btn-primary.active,
    .open .dropdown-toggle.btn-primary {
        color: #fff;
        background-color: #3276b1;
        border-color: #285e8e;
    }

    /***********************
      OUTLINE BUTTONS
    ************************/

    .btn.outline {
        background: none;
        padding: 12px 22px;
    }

    .btn-primary.outline {
        border: 2px solid #0099cc;
        color: #0099cc;
    }

    .btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
        color: #33a6cc;
        border-color: #33a6cc;
    }

    .btn-primary.outline:active, .btn-primary.outline.active {
        border-color: #007299;
        color: #007299;
        box-shadow: none;
    }

    /***********************
      CUSTON BTN VALUES
    ************************/

    .btn {
        padding: 14px 24px;
        border: 0 none;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    .btn:focus, .btn:active:focus, .btn.active:focus {
        outline: 0 none;
    }

    #img_container {
        position: relative;
        display: inline-block;
        text-align: center;
        /*border:1px solid red;*/

    }

    .button {
        position: relative;
        float: left;
        bottom: 190px;
        left: 1500px;
        /* bottom:1000;
         left: 2000;*/
        width: 100px;
        height: 50px;
        display: inline;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: normal;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.33;
        border-radius: 6px;
        color: #fbfffc;
        background-color: #3acaa3;
        border-color: #357ebd;
        margin-right: 5px;

    }


</style>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="public/javascripts/bootstrap.min.js"></script>
    <script src="public/javascripts/bootstrap.min.js"></script>
    <script src="public/javascripts/scripts.js"></script>
    <title>Welcome page</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <!-- <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>


    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script src="/javascripts/controllers.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></script>


    <meta http-equiv="Cache-Control"
          content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>

</head>
<body ng-app="welcome" ng-controller="welcomeCtrl">

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <!--<div >Hello Twitter</div>-->
            <div id="img_container">
                <img src="/images/welcome_upperpanel.png" alt="Mountain View" style="width:1730px;height:228px;">
                <button class=" button " ng-click="signup()"> SignUp</button>
                <button class=" button " ng-click="signin()"> Login</button>
            </div>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4"><h1>See what’s happening right now.</h1><h5>Find community,conversation and inspiration
                about the things you love</h5></div>
        <div class="col-md-4"></div>
    </div>
</div>


</body>
<script>
    var welcome = angular.module("welcome", []);

    welcome.controller('welcomeCtrl', function ($scope) {

        $scope.signin = function () {

            window.location = '/signin';

        };
        $scope.signup = function () {
            window.location = '/signup';
        }

    });
</script>

</html>